<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/js/bootstrap.min.js">
    <link rel="stylesheet" href="../public/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educação a distância e sua importância nos últimos anos</title>
</head>

<body>
    <div class="navbar_">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul>
                <li><a href="#" class="frist_nav btn btn-sm btn-outline-primary">globo.com</a></li>
                <li><a href="#" class="frist_nav btn btn-sm btn-outline-danger">g1</a></li>
                <li><a href="#" class="frist_nav btn btn-sm btn-outline-success">globoesporte</a></li>
                <li><a href="#" class="frist_nav btn btn-sm btn-outline-warning">gshow</a></li>
                <li><a href="#" class="frist_nav btn btn-sm btn-outline-primary">videos</a></li>
            </ul>
        </nav>
        <nav id="navbar_secondary" class="navbar navbar-dark">
            <ul>
                <li><button class="navbar-brand navbar-toggler" style="border-right: 1px dotted white;" type="button" data-toggle="collapse" data-target="#navbar_menu">
                    <span class="navbar-toggler-icon"></span>MENU
                </button></li>
                <li>
                    <a href="#" class="navbar-brand"><img src="../public/img/logo_g1.jpeg" style="width: 35px;" alt=""></a>
                </li>
            </ul>
            <div style="text-align: center;">
                <a href="#" class="navbar-brand" style="font-size: 35px; font-weight: 170;">ACIC</a>
            </div>
            <div class="input-group col-2">
                <div class="input-group-prepend">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <input type="text" class="form-control" placeholder="Buscar">
            </div>
        </nav>

    </div>

    <div class="container col-sm-8">
        <br><br><br><br><br><br>
        <div style="text-align: center;margin-top: 30px;margin-bottom: 30px;"><span id="starter_text">ESPECIAL PUBLICITÁRIO</span></div><br>
        <div>
            <h1>Educação a distância e sua importância nos últimos anos</h1><br>
            <p class="text-muted" style="font-size: 20px;">Com o avanço da tecnologia, o ensino online se tornou uma alternativa para gestores.</p>
        </div>
        <br>
        <div class="row">
            <div><img src="../public/img/acic_logo.jpg" alt="aciclogo"></div>
            <div><span><strong>Por ACIC</strong></span><br>
                <p class="text-muted" style="font-size: 10px;">10/06/2020 15h24 Atualizado há 3 semanas</p>
            </div>
            <div class="col-5">
            </div>
            <div class="col-3" style="padding-right: 3px;">
                <a href="#"><img src="../public/img/facebook_icon.png" style="width: 30px;" alt=""></a>
                <a href="#"><img src="../public/img/twitter_icon.png" style="width: 25px;" alt=""></a>
                <a href="#"><img src="../public/img/whatsapp_icon.jpeg" style="width: 30px;" alt=""></a>
                <a href="#"><img src="../public/img/linkedin_icon.jpeg" style="width: 25px;" alt=""></a>
                <a href="#"><img src="../public/img/pinterest_icon.png" style="width: 30px;" alt=""></a>
            </div>
        </div>
        <hr>
        <br>
        <div style="text-align: center;">
            <img src="../public/img/img_frist.jpeg" style="width: 650px;" alt="">
            <p class="text-muted" style="font-size: 13px;"> Foto: Fonte: https://unsplash.com/photos/cckf4TsHAuw</p>
        </div>
        <br>

        <div class="container">
            <div class="box_content">
                <p>O ensino a distância (EAD) vem ganhando muito espaço nos últimos anos, situação totalmente contrária de duas décadas atrás, onde eram duramente criticados por educadores e também repreendida no mercado de trabalho. Essa forma de estudo
                    tem o objetivo de facilitar o acesso à educação, seja para cursos superiores ou até mesmo especializações de longa e curta duração.</p> <br>
                <p>Ela funciona em uma integração entre educador e aluno, através de ambientes virtuais, onde é permitido a visualização de aulas e módulos, podendo estender-se a uma interação com professores para tirar dúvidas ou rever o conteúdo.</p><br>
                <p>Tudo acontece da mesma forma que o ensino presencial, entretanto, existem algumas diferenças como, por exemplo, o deslocamento, com o EAD, não é necessário enfrentar trânsito para chegar até o local de aula. Outra vantagem são os horários,
                    sendo assim, fica ao critério do aluno montar uma rotina de estudos e o melhor momento para ingressar nas aulas online.</p><br>
                <p>Segundo dados da Associação Brasileira de Ensino a Distância (ABED), o ensino a distância está em constante crescimento, no último censo realizado em 2018, foi apontado um aumento de cerca de 17% em novas matrículas no sistema de educação,
                    percentual maior que no ano anterior.</p><br>
                <strong>Mudanças na forma dos estudos</strong><br><br>
                <p>O ano de 2020 impactou todo o planeta com a pandemia do novo Coronavírus, com isso, diversas atitudes e rotinas precisaram ser alteradas, incluindo a da educação. Instituições tradicionais precisaram alterar calendários e implementar ambientes
                    virtuais para que os alunos não perdessem o ano letivo.</p><br>
                <p>Até mesmo os cursos presenciais precisaram ser postos de lado para dar lugar as aulas digitais, as discussões e trabalhos em grupo também tiveram de ter reformulações para que as turmas pudessem continuar a aprendizagem.</p><br>
                <p>O EAD tende a ganhar mais espaço, seja para cursos de graduação ou cursos livres para aperfeiçoamento profissional em áreas específicas. Com a expansão da internet no Brasil, o acesso à informação ficou mais fácil, possibilitando que mais
                    pessoas possam se capacitar, seja pessoal ou profissionalmente.</p><br>

                <strong>Pontos positivos do ensino a distância</strong> <br><br>
                <ul>
                    <li><strong>Flexibilidade e comodidade</strong> <br>
                        <p>O EAD oferta alguns benefícios para quem deseja se capacitar via online, sendo a primeira, a flexibilização de horários e locais para estudar, o aluno escolhe qual melhor momento do dia para acessar as aulas, assim como o local,
                            podendo ser em casa ou qualquer lugar confortável para assistir o conteúdo da instituição, conciliando a jornada de trabalho e estudos.</p>
                    </li>
                    <li><strong>Variedade de cursos</strong> <br>
                        <p>Outro bom motivo para a escolha do EAD é a variedade de cursos e grade curricular que as instituições oferecem. Com maior demanda de aluno, a oferta de cursos precisou ser ampliada, dessa maneira, mais opções para quem pretende
                            estudar.
                        </p>
                    </li>
                    <li><strong>Autonomia</strong>
                        <p>Tem quem diga que a autonomia seria uma vantagem, entretanto, pelo ponto de vista, ela pode ser negativa. Acontece que quando o aluno se propõe a estudar sozinho, não existe nenhuma cobrança para entrega das atividades ou mesmo
                            para assistir às aulas, como em cursos presenciais. Sendo assim, o aluno precisa ser disciplinado para que os estudos não se torne uma grande bola de neve.</p>
                    </li>
                </ul><br>
                <strong>Oportunidades de estudos</strong><br><br>
                <p>Visando a oportunidade de ajudar diversos empresários e líderes a aprimorar gestões, a Associação Comercial e Industrial de Campinas (ACIC), reformulou um dos principais projetos de educação que a entidade oferece.</p><br>
                <p>O <strong><a href="#" style="color: red;">Programa de Formação de Gestores</a></strong> (PFG), será totalmente digital a partir do segundo semestre de 2020. Com carga horária de 48 horas, divididas em 4 módulos, o curso tem o propósito
                    de alavancar e impulsionar a capacidade empreendedora dos participantes, a partir de uma visão 360º e inovadora das áreas de um negócio. O PFG faz parte da Escola de Negócios.</p><br>
                <p>Os alunos do programa terão acompanhamento semanal das atividades com a equipe da ACIC, além disso, poderão interagir em um grupo de estudos com os demais participantes.</p><br>
                <strong>Quer mais informações?</strong>
                <p>Entre em contato conosco pelo telefone (19) 2104-9200 ou no WhatsApp (19) 99607-7604.</p><br>
                <div style="text-align: center;">
                    <img src="../public/img/acic_logo.jpg" alt="">
                    <br>
                    <span style="background-color: yellow;color: white; font-size: small;">CONTEÚDO DE RESPONSABILIDADE DO ANUNCIANTE</span>
                </div>
                <br>
                <hr>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small pt-4">
        <div class="container">
            <div> <img src="../public/img/logo_g1.jpeg" style="width: 35px;" alt="">
                <p>últimas notícias</p>
            </div>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</html>